[phases.setup]
nixPkgs = [
    "python3",
    "cairo",
    "pango",
    "gdk-pixbuf",
    "libffi",
    "zlib",
    "libjpeg",  # Changed from "jpeg"
    "gcc",
    "pkg-config"
]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput", "python manage.py migrate"]

[start]
cmd = "waitress-serve --listen=0.0.0.0:$PORT stock_savvy_project.wsgi:application"