Django==5.2.6
djangorestframework==3.16.0
django-allauth==65.11.2
django-crispy-forms==2.4
crispy-bootstrap5==2025.6
python-dotenv==1.1.1
dj-database-url==3.0.0
psycopg2-binary==2.9.10
whitenoise==6.9.0
requests==2.32.4
xhtml2pdf==0.2.11
pycairo==1.25.1
waitress==3.0.2
gunicorn==23.0.0
PyJWT==2.8.0
cryptography