{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <div class="card p-4 mx-auto" style="max-width: 400px;">
            <h1 class="h3 mb-3 font-weight-normal">Log In to StockSavvy</h1>
            <p>Use your Google account to log in.</p>
            <a href="{% provider_login_url 'google' %}" class="btn btn-lg btn-block btn-google mt-3">
                <i class="fab fa-google"></i> Sign In with Google
            </a>
        </div>
    </div>
{% endblock %}