# Django
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
/migrations/*
!/migrations/__init__.py
/media/
/static/
/stockapp/settings.py
/stockapp/local_settings.py
/stockapp/__pycache__/

# Virtual environment
.venv/
venv/
env/
ENV/

# Environment variables
.env

# IDE files
.idea/
*.swp
*.swo